---
extends: '@elastic/kibana'

settings:
  import/resolver:
    '@osd/eslint-import-resolver-kibana':
      rootPackageName: 'opendistro-reports-opensearch-dashboards'
      pluginPaths:
        - .
