name: Test and Build Reports Scheduler

on: [push, pull_request]

env:
  OPENSEARCH_VERSION: '1.1.0'
  OPENSEARCH_BRANCH: '1.1'
  COMMON_UTILS_BRANCH: '1.1.0.0'
  JOB_SCHEDULER_BRANCH: '1.1'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK 1.14
        uses: actions/setup-java@v1
        with:
          java-version: 1.14

    # dependencies: OpenSearch
      - name: Checkout OpenSearch
        uses: actions/checkout@v2
        with:
          repository: 'opensearch-project/OpenSearch'
          path: OpenSearch
          ref: ${{ env.OPENSEARCH_BRANCH }}
      - name: Build OpenSearch
        working-directory: ./OpenSearch
        run: ./gradlew publishToMavenLocal

      # dependencies: common-utils
      - name: Checkout common-utils
        uses: actions/checkout@v2
        with:
          repository: 'opensearch-project/common-utils'
          ref: ${{ env.COMMON_UTILS_BRANCH }}
          path: common-utils
      - name: Build common-utils
        working-directory: ./common-utils
        run: ./gradlew publishToMavenLocal -Dopensearch.version=${{ env.OPENSEARCH_VERSION }}

      # dependencies: job-scheduler
      - name: Checkout job-scheduler
        uses: actions/checkout@v2
        with:
          repository: 'opensearch-project/job-scheduler'
          ref: ${{ env.JOB_SCHEDULER_BRANCH }}
          path: job-scheduler
      - name: Build job-scheduler
        working-directory: ./job-scheduler
        run: ./gradlew publishToMavenLocal -Dopensearch.version=${{ env.OPENSEARCH_VERSION }}

      # reports-scheduler
      - name: Checkout Reports Scheduler
        uses: actions/checkout@v2

      - name: Build with Gradle
        run: |
          cd reports-scheduler
          ./gradlew build -Dopensearch.version=${{ env.OPENSEARCH_VERSION }}

      - name: Upload coverage
        uses: codecov/codecov-action@v1
        with:
          flags: reports-scheduler
          directory: reports-scheduler/
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Create Artifact Path
        run: |
          mkdir -p reports-scheduler-builds
          cp -r ./reports-scheduler/build/distributions/*.zip reports-scheduler-builds/

      - name: Upload Artifacts
        uses: actions/upload-artifact@v1
        with:
          name: reports-scheduler
          path: reports-scheduler-builds

